body {
    color: #333;
    line-height: 1.6;
    padding: 20px;
    /* 限制宽度 */
    max-width: 1000px;
    /* 元素居中 */
    margin: 0 auto;
    /* 背景图片居中，等比缩放覆盖整个容器 滚动式背景固定 */
    background: url(../image/backgroundimage1.jpg) center/cover  no-repeat fixed;
}
/* 导航悬停和激活后样式 */
a:hover{
    color: #a1d6fa;
}
a:visited{
    color: rgb(93, 25, 252);
}

/* 关于头部样式 */
.about-top{
    text-align: center;
    padding: 30px 0;
    background-color: #ccfafd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(122, 239, 247, 0.384);
    margin-top: 60px;
    margin-bottom: 30px;
}
/* 关于头部标题样式 */
.about-top h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}
/* 关于头部标题下段落样式 */
.about-top p{
    font-size: 1.5rem;
}
/* 主体下的div样式 */
main > div{
    background-color: #d7d8cb;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(122, 239, 247, 0.384);
    margin-bottom: 30px;
}
/* 关于轮播图 */
main > .banner_about{
    display: flex;
    position: relative;
    width: 95%;
     
}
/* 轮播图样式 */
.about-play{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    padding:10px;
    height: 30vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 1;
    color: #fff;
    margin: 10px;
    transition: flex 0.7s ease-in;
}
/* 轮播图下标题样式 */
.about-play > h3{
    color:#ff0000;
    font-size: 15px;
    text-align: center;
    line-height: 30vh;
    margin: 0;
    opacity: 0;
    transition: all .5s ease-in;
}
.about-play > h3:hover{
    opacity: 1;
}
/* 点击后扩大 */
.right-move{
    flex: 5;
}
/* h2标题样式 */
h2 {
    color: #253b50;
    margin: 20px 0 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid #3498db;
}
/* 博主卡片样式 */
.author-card {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;/*不自动换行*/
}
/* 博主卡片下logo样式 */
.author-card img {
    margin: 5px 20px 0 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;/*等比缩放并完全覆盖容器*/
    border: 3px solid #97bcf3;
}
/* 博主详情下标题样式 */
.author-detail h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}
/* 社交途径下a样式 */
.social-route a{
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}
/* 发展时间列表样式 */
.timeline ul{
    position: relative;
    padding-left: 30px;
}
/* 发展时间轴样式 */
.timeline ul::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #3498db;
}
/* 发展时间项目样式 */
.timeline li {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
/* 发展时间点样式 */
.timeline li::before {
    content: "";
    position: absolute;
    left: -34px;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3498db;
}
/* 发展列表日期样式 */
.timeline .date {
    display: inline-block;
    background-color: #e3f2fd;
    color: #3498db;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 10px;
}
/* 核心栏目列表样式 */
.columns-list {
    /* 网格布局 */
    display: grid;
    /* 设置网格容器的列数,自动填充列数,最小宽度250px, 最大一列*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* 行列间距 */
    gap: 20px;
}
/* 栏目样式 */
.columns-item {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    transition: transform 0.3s;
}
/* 鼠标悬停在栏目样式 */
.columns-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 15px rgb(0, 0, 0);
}
/* 栏目里标题样式 */
.columns-item h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}
/* 博客数据样式 */
.data-item {
    display: inline-block;
    width: 25%;
    margin-left: 7.9%;
}
/* 博客数据数字量样式 */
.data-item span {
    font-size: 2.5rem;
    color: #3498db;
    font-weight: 900;
}
/* 博客数据文字样式 */
.data-item p {
    color: #3f4849;
    margin-top: 8px;
}
.contact-list > li{
    margin-top: 8px;
}
main{
    margin-bottom: 20%;
}
/* 底部样式 */
footer{
  position: fixed;
  bottom: 0%;
  left: 0%;
  height: 10px;
  width: 100%;
  background: #2d3748;
  color: #a0aec0;
  text-align: center;
  padding: 3rem;
  font-size: 0.9rem;
}