body {
  background: url(../image/backgroundimage3.jpg) center/cover no-repeat fixed;
  color:#1d2129;
}
/* 按钮样式 */
button {
  border: none;
  background: none;
  cursor: pointer;
  transition:all 0.3s ease;
}
/* 主题样式 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* 歌曲头部样式 */
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 30px;
}
/* 歌曲头部标题样式 */
.div-header h2 {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding-left: 12px;
}
/* 小蓝条样式 */
.div-header h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background-color:#4c6ef5;
  border-radius: 2px;
}
/* 功能模块区样式 */
.function-div {
  display: flex;
  gap: 30px;
  margin: 120px 0 40px 0;
  flex-wrap: wrap;
}
/* 功能卡片样式 */
.function-card {
  flex: 1;
  min-width: 300px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  transition:all 0.3s ease;
}
/* 鼠标悬浮在功能卡片样式 */
.function-card:hover {
  transform: translateY(-10px);
  box-shadow:0 8px 20px rgba(0,0,0,0.12);
}
/* 卡片背景样式 */
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* 降低 30% 亮度，让元素整体呈现变暗的视觉效果 */
  filter: brightness(0.7);
  transition: all 0.3s ease;
}
/* 鼠标悬浮卡片，背景变化 */
.function-card:hover .card-bg {
  transform: scale(1.2);
}
/* 卡片内容样式 */
.card-content {
  position: relative;
  z-index: 2;/* 悬浮在背景图片上 */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
  text-align: center;
}
/* 卡片内容标题样式 */
.card-content h3 {
  font-size:1.6rem;
  margin-bottom: 8px;
  text-shadow: 0 2px 4px rgba(50, 69, 70, 0.3);
}
/* 卡片内容段落样式 */
.card-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  /* 模糊度衬托标题 */
  opacity: 0.7;
  text-shadow: 0 1px 2px rgba(50, 69, 70, 0.3);
}
/* 卡片内容按钮样式 */
.random-btn, .upload-btn {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  /* 毛玻璃效果，对元素背后的区域施加4px的模糊效果 */
  backdrop-filter: blur(4px);
  gap: 8px;
  border: 1px solid rgba(255,255,255,0.3);
}
/* 鼠标悬浮在卡片内容按钮样式 */
.random-btn:hover, .upload-btn:hover {
  background-color: rgba(255,255,255,0.3);
  border-color: rgba(255,255,255,0.5);
}
/* 歌曲列表区 */
.song-list-div {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}
/* 排序按钮样式 */
.sort-btn {
  display: flex;
  gap: 12px;
}
.sort-btn button {
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #f5f7fa;
  color:#1d2129;
}
/* 鼠标悬停在按钮样式 */
.sort-btn button.active,
.sort-btn button:hover {
  background-color:#4c6ef5;
  color:#fff;
}
/* -歌曲列表样式 */
.song-list {
  display: flex;
  /* 垂直排列 */
  flex-direction: column;
  gap: 12px;
}
/* 歌曲条样式 */
.song-item {
  display: flex;
  /* 文字对齐图片中部 */
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  transition:all 0.3s ease;
}
.active{
  background-color: rgb(7, 253, 241);
}
/* 鼠标悬浮在歌曲条样式 */
.song-item:hover {
  background-color: #f5f1f1d2;
}
/* 歌曲图片盒样式 */
.song-cover {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
/* 设置图片完全容纳 */
.song-cover img {
  width: 100%;
  height: 100%;
  /* 内容按比例缩放，填满整个容器，超出部分裁剪，保证内容不拉伸变形，且容器无空白 */
  object-fit: cover;
  transition: all 0.3s ease;
}
/* 鼠标悬浮图片歌曲样式 */
.song-item:hover .song-cover img {
  transform: scale(1.3);
}
/* 歌曲文字盒样式 */
.song-info {
  /* 保证文字占一行 */
  flex: 1;
}
/* 歌曲标题样式 */
.song-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}
/* 歌曲作者名称样式 */
.song-singer {
  font-size: 0.9rem;
  font-weight: 500;
  color:#55606d;
}
/* 歌曲时长样式 */
.song-duration {
  font-size: 14px;
  color:#86909c;
  width: 60px;
}
/* 歌曲播放功能样式 */
.song-actions {
  display: flex;
  gap: 16px;
}
/* 歌曲播放按钮样式 */
.song-actions button {
  font-size: 18px;
  color:#86909c;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 播放按钮图片样式 */
.song-actions .play-song{
  background: url(../image/songbutton1.png) center/cover no-repeat;

}
/* 收藏图片按钮样式 */
.song-actions .collect-song{
  background: url(../image/songbutton2.png) center/cover no-repeat;
}
/* 鼠标悬浮在按钮样式 */
.song-actions button:hover{
  box-shadow: 0 4px 12px rgba(146, 190, 247, 0.664);
}
/* 收藏歌曲区样式 */
.collected-div {
  background-color:#fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 100px;
}
/* 收藏表单样式 */
.collected-list {
  min-height: 120px;
  display: column;

}
/* 空列表样式 */
.empty-tip {
  color:#86909c;
  font-size: 1.4rem;
}
/* 底部播放器样式 */
.player-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: 60px;
  background-color:#fff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
  padding: 12px 20px;
  gap: 20px;
  z-index: 998;
  margin-bottom: 60px;
}
/* 播放信息样式 */
.playing-info {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 200px;
}
/* 底部歌曲图片样式 */
.playing-cover {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
  /* 不收缩,固定宽度 */
  flex-shrink: 0;
}
/* 播放文本样式 */
.playing-text {
  overflow: hidden;
}
/* 歌曲标题样式 */
.playing-title {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  /* 文本超出容器宽度时，超出部分隐藏并显示省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 歌手信息样式 */
.playing-singer {
  font-size: 0.8rem;
  color:#86909c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
/* 播放控件样式 */
.player-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: center;
}
/* 上一首按钮样式 */
.player-controls > .prev-btn{
  width: 40px;
  height: 40px;
  background: url(../image/leftplay.png) center/cover no-repeat;
}
/* 当前播放按钮样式 */
.toggle-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#4c6ef5;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 鼠标悬停在3个按钮样式 */
.next-btn:hover,.prev-btn:hover,.toggle-play:hover {
  transform: scale(1.1);
}
/* 下一首按钮样式 */
.player-controls > .next-btn{
  width: 40px;
  height: 40px;
  background-color: #3b5bdb;
  background: url(../image/rightplay.png) center/cover no-repeat;
}
/* 歌曲进度条样式 */
.player-progress {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 300px;
  margin-right: 40px;
}
/* 开始时间和结束时间样式 */
.current-time, .total-time {
  font-size: 0.9rem;
  color:#86909c;
  width: 40px;
  text-align: center;
}
/* 进度条样式 */
.progress-bar {
  flex: 1;
  height: 4px;
  background-color: #e5e9f2;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
/* 歌曲完成度样式 */
.progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color:#4c6ef5;
  border-radius: 2px;
  transition: width 0.2s linear;
}
/* 鼠标悬浮在进度条样式 */
.progress-bar:hover .progress-fill {
  height: 6px;
  top: -1px;
}
/* 底部样式 */
footer{
  bottom: 0;
  width: 100%;
  background: #2d3748;
  color: #a0aec0;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

